.dub
docs.json
dub.selections.json
__dummy.html

bin/x86/
bin/x64/
bin/.cache/
bin/debug/
docs/

neng2.so
neng2.dylib
neng2.dll
neng2.a
neng2.lib
neng2-test-*
*.exe
*.o
*.obj
*.lst
*.code-workspace
.vscode

bin/resources/test/
